<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <!-- Logo de la importadora -->
        <img src="/img/logo.png" alt="Importadora Larrain">
      </div>
      <div class="navbar-toggle">
        <span class="toggle-icon"></span>
      </div>
      <ul class="navbar-menu">
            <li class="navbar-item">
                <a href="index.html" class="navbar-link">Inicio</a>
            </li>
            <li class="navbar-item">
                <a href="productos.html" class="navbar-link">Productos</a>
            </li>
            <li class="navbar-item">
                <a href="carrito.html" class="navbar-link">
                    <i class="fas fa-shopping-cart"></i> Carrito
                </a>
            </li>
            <li class="navbar-item">
                <a href="contacto.html" class="navbar-link">Contacto</a>
            </li>
            <li class="navbar-item navbar-item--user">
                <a href="perfil.html" class="navbar-link">
                    <i class="fas fa-user"></i> Nombre de usuario
                </a>
            </li>
      </ul>
    </div>
</nav>