{% extends 'base.html' %}
{% load static %}

{% block title %} NOSOTROS {% endblock %}

{% block body %}
  <img src="{% static 'img/generico1.jpg' %}" alt="">
  <div>
    <h3>¿QUIÉNES SOMOS?</h3>
      <P>Somos una distribuidora de la gran potencia mundial chinos en mayoria de sus productos tecnologicos, si tu lo quieres nosotros
        lo importamos al por mayor o precio unico directamente de china hasta tu casa.
      </P>
      <p>&nbsp;</p>
    <h3>MISIÓN</h3>
      <p>Nuestra misión es ofrecer la mayor comodidad para nuestros consumidores en el pais, teniendo la oportunidad de poder hacer una
        compra totalmente online de manera facil y rapida.
      </p>
      <p>&nbsp;</p>
    <h3>VISIÓN</h3>
      <p>Nuestra visión es convertirnos en el programa mas facil de ventas de latino america y asi expandirnos a nivel mundial y que contraten nuestro servicio importador de productos.</p>
      <p>&nbsp;</p>
    <h3>EQUIPO</h3>
  </div>
{% endblock %}