<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>Mi Perfil - Importadora Larraín</title>
    <link rel="stylesheet" href="style.css">
    </head>
    <body>
    <nav>
        <include src="/html/navbar.html"></include>
    </nav>

    <!-- Contenido principal -->
    <main>
        <h1>Mi Perfil</h1>
        <div class="profile-info">
        <h2>Datos Personales</h2>
        <p>Nombre: Juan Pérez</p>
        <p>Correo electrónico: juan@example.com</p>
        <p>Dirección: Calle San Alfonso, Santiago, Chile</p>
        </div>

        <div class="order-history">
        <h2>Historial de Pedidos</h2>
        <ul>
            <li>Pedido #001 - Fecha: 2022-10-15, Total: $150.00</li>
            <li>Pedido #002 - Fecha: 2022-11-05, Total: $200.00</li>
            <li>Pedido #003 - Fecha: 2022-12-20, Total: $180.00</li>
        </ul>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <include src="/html/footer.html"></include>
    </footer>

    <!-- Scripts JS -->
    <script src="script.js"></script>
    </body>
</html>
